 <!DOCTYPE html>
 <html>
 <head>
 	<title>{{albumName}}, {{bandName}}</title>
 	<meta charset="UTF-8">
 	<link rel="stylesheet" href="/css/main.css"/>
 	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
 </head>
 <body>
 	{{#albums}}
	    <br>{{albumName}}
	    <br>{{bandName}}
	    <br>{{releaseDate}}
	    <br>{{recordLabel.labelName}}
	    <br>{{recordLabel.labelAddress}}
	    <br>{{topHits}}
	    <br>
	  {{/albums}}
 </body>
	</html>

 