 <!DOCTYPE html>
 <html>
 <head>
 	<title>Collection</title>
 	<meta charset="UTF-8">
 	<link rel="stylesheet" href="/css/main.css"/>
 	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
 </head>
 <body class="album_body">
 	<form action="/" method="post">
 	<br>
 	<input type="submit" name="add_another" value="Add Another Album" id="add_another">
 	</form>
 	<div class="album_box">
	 	{{#albums}}
	 	<div class="box">
	 		<div id="albumname">
	 			<br>
		    <b>{{albumName}}</b>
		   </div>
			<div class="picture">
			<a href="/edit/{{albumName}}">
			<img src="{{pictureURL}}"/>
			</a>
			</div>
	    <div id="bandname">
	    	<b>{{bandName}}</b>
	    </div>
	    <div id="tophits">
	    "{{topHits}}"
	    </div>
	    <div>
	    	{{recordLabel.labelName}}
	    </div>
	    <div>
	    	{{recordLabel.labelAddress}}
	    </div>
	    
	    <div id="releasedate">
	    {{releaseDate}}
	    </div>
	    <br>
			</div>
		
		  {{/albums}}
	</div>
 </body>
	</html>

 