<form action="/edit" method="post">
        <div>
            <input type="text" name="albumName" placeholder="Album Name" value="{{albumName}}" class="form"/>
        </div>
        <div>   
            <input type="text" name="bandName" placeholder="Band Name" value="{{bandName}}" class="form"/>
        </div>
        <div>
            <input type="text" name="releaseDate" placeholder="Release Year" value="{{releaseYear}}" class="form"/>
        </div>
        <div>
            <input type="text" name="labelName" placeholder="Record Label Name" value="{{labelName}}" class="form"/>
        </div>
        <div>
            <input type="text" name="address" placeholder="Record Label Address" value="{{labelAddress}}" class="form"/>
        </div>  
        <div>
            <input type="text" name="hits" placeholder="Top Hits" value="{{topHits}}" class="form"/>
        </div>
            <input type="submit" value="Add Album" id="button"/>
    </form>